.about-container {
  margin: -110px 14rem -80px;
  padding-top: 0;
  background-color: #fff;
  padding-bottom: 20px;
  border-radius: 0.4rem;
  border: 2px solid rgba(50, 17, 71, 1);
  position: relative;
  z-index: 2;
}

.about-content {
  width: 100%;
  z-index: 2;
}

.about-title {
  margin: 7rem 0 3rem 5rem;
  text-align: left;
  font-weight: 400;
}

.about-profile-picture {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 1px solid rgba(50, 17, 71, 1);
  padding: 4px;
  margin: 0 20px;
}

.about-inner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-text {
  width: 80%;
  text-align: left;
  margin-top: 1rem;
}

.about-text-container {
  margin-left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .about-container {
    margin: -60px 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    margin: -50px 2rem -150px;
  }

  .about-title {
    margin: 4rem 0 2rem 3rem;
  }
}

@media only screen and (max-width: 426px) {
  .about-container {
    margin: -50px 2rem -150px;
  }

  .about-profile-picture {
    height: 160px;
    width: 160px;
  }
}
