#social-wrapper {
  margin: 0 15rem;
}

.footer-link-wrapper {
  margin: 0 12rem;
}

.footer-columns {
  justify-content: space-between;
}

#instagram,
#facebook,
#twitter {
  width: 22px;
}

.column1,
.column2 {
  width: 50%;
}

.footer-link {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .footer-link-wrapper {
    margin: 0 5rem;
  }

  #social-wrapper {
    margin: 0 9rem;
  }
}

@media only screen and (max-width: 426px) {
  .footer-link-wrapper {
    margin: 0 2rem;
  }

  #social-wrapper {
    margin: 0 3rem;
  }

  p {
    word-wrap: break-word;
  }
}
