.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  color: #fff;
  width: 100%;
  transition-timing-function: ease-in;
  transition: all 0.3s;
  z-index: 2;
}

.logo {
  width: 90px;
}

.nav-color {
  /* background-color: rgb(250, 216, 222); */
  background-color: #9046cf;
}

.container-fluid {
  width: 50%;
  padding: 0;
  margin: 0;
}

nav {
  padding: 15px 90px 0;
  background: transparent;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  /* color: rgb(190, 190, 190); */
  color: #e5e9ec;
}
