.services-wrapper {
  margin: 6rem 14rem;
}

.card-image {
  height: 300px;
  border-radius: 3rem 3rem 0 0;
  padding: 30px;
}

.service-card {
  border-radius: 3rem;
  min-height: 600px;
  margin: 20px;
  background-color: rgb(250, 216, 222);
}

.card-time {
  font-weight: 400;
  font-size: 18px;
  margin: 5px;
}

.book-button {
  background-color: rgb(104, 104, 104);
  border: none;
  transition: all 0.2s;
}

.book-button:hover {
  background-color: aliceblue;
  color: rgb(104, 104, 104);
  border: 1px solid rgb(104, 104, 104);
}

.card-text {
  margin: 1.5rem;
  padding: 1rem;
  border-top: 1px solid rgb(138, 138, 138);
  border-bottom: 1px solid rgb(138, 138, 138);
  line-height: 1.7;
}
