.services-wrapper {
  margin: 6rem 14rem;
}

.card-image {
  height: 300px;
  border-radius: 3rem 3rem 0 0;
  padding: 30px;
}

.service-card {
  border-radius: 3rem;
  /* min-height: 600px; */
  min-height: 350px;
  margin: 20px;
  /* background-color: rgb(250, 216, 222); */
  background-color: #9046cf;
}

.card-time {
  font-weight: 400;
  font-size: 18px;
  margin: 5px;
  color: #eafdf8;
}

.book-button {
  background-color: #eafdf8;
  color: #cc59d2;
  border: none;
  transition: all 0.2s;
}

.book-button:hover {
  background-color: aliceblue;
  color: rgb(104, 104, 104);
  border: 1px solid rgb(104, 104, 104);
}

.card-text {
  margin: 1.5rem;
  padding: 1rem;
  color: #eafdf8;
  border-top: 1px solid #eafdf8;
  border-bottom: 1px solid #eafdf8;
  line-height: 1.7;
}

.card-title {
  color: #eafdf8;
}

.service-gallery-text {
  margin-top: 4rem;
  color: #9046cf;
}

.service-arrow-button {
  width: 5rem;
  align-self: center;
  margin-top: 2rem;
  background-color: #fff;
  border: none;
  transition: all 0.2s;
}

.service-arrow-button:hover {
  background-color: #fff;
  transform: translateX(10px) scaleX(1.2);
}

#gallery-card {
  background-color: #fff;
  border: 2px solid #9046cf;
}
